*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: black;
    overflow: hidden;
    
}

.flex{
    display: flex;
}

.bar{
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
    position: absolute;
}

header>div{
    top: 0;
    height: 70px;
}

footer>div{
    bottom: 0;
    height: 80px;
    background-color: #222222;
}

.container{
    max-width: 95vw;
    margin: 0 auto;
    height: 82vh;
    flex-wrap: wrap;
    overflow-y: hidden scroll;
    overflow-x: hidden;
    justify-content: space-evenly;;
}

img{
    width: 250px;
}

.user{
    height: 150px;
    width: 250px;
    position: relative;
}

.username{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    display: inline-block;
    font-size: 0.8rem;
    padding: 5px;
}

.top-bar{
    justify-content: end;
}

button{
    border: none;
    color: white;
}

.top-button{
    background-color: #4a4a4a;
    border-radius: 4px;
    padding:0 6px 2px;
    height: 23px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.bottom-bar{
    justify-content: space-between;
    align-items: start;

}

.bottom-bar button{
    padding: 0 10px;
    flex-direction: column;
    height: 80px;
    background-color: #222222;
}

p{
    margin-top: 10px;
}

.mute{
    width: 50px;
}

.arrow{
    align-items: center;
}

.end-meeting-button{
    padding: 0 20px;
    font-size: 0.85rem;
    font-weight: 500;
    background-color: #4a4a4a;
    color: #f12118;
    text-align: center;
    align-items: center;
}
